// Grid setting
$base-spacing: 6px;

// Colors
$white: #fff;
$light-gray: #ccc;
$gray: #a9a9a9;
$medium-gray: #484848;
$dark-gray: #474747;
$dark: #1e2124;
$dark-post: #d8d8d8;
$gray-border: #979797;
$black: #000;
$red: #9e2719;

$primary: #9E2719;
$text: $dark-gray;
$meta: $medium-gray;

hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}