@import 'settings/reset';
@import 'settings/default';
@import 'components/TableRow';
@import 'components/GroupMatch';
@import 'components/NavigationBar';
@import 'components/Match';
@import 'components/Score';
@import 'utilities/position';
