.Match-title {
	font-size: 18px;
}

.Match-team-title {
	font-size: 20px;
	font-weight: 700;
	margin-top: 5px;
	display: block;
	color: black;
}

.Match-team-logo {
	width: auto;
	height: 60px;
}

.Match-tick {
	width: 100%;
	max-width: 50px;
	height: auto;
	position: absolute;
	right: 10%;
	top: 30%;
}

.Match-tick--right {
	left: 10%;
}

.Match-score {
	font-size: 30px;
	font-weight: 700;
	margin-top: 20px;
}

.Match-ratio {
	font-size: 18px;
}
