.Match-title {
  font-size: 18px;
}

.Match-team-title {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
  display: block;
  color: black;
}

.Match-team-logo {
  height: auto;
  max-width: 150px;
  width: 100%;
}

.Match-score {
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

.Match-ratio {
  font-size: 18px;
}