.TableRow {
  margin-bottom: 10px;
  overflow: hidden;
}

.TableRow-head {
  padding: 0 15px;
  background: $light-gray;
}

.TableRow-body {
  padding-top: 15px;
}

.TableRow-background {
  display: none;
}

.TableRow-body-name {
  display: inline-block;
  vertical-align: middle;
}

.TableRow-body-image {
  display: inline-block;
  img {
    height: 55px;
    width: 91px;
  }
}

@media screen and (min-width: 769px) {
  .TableRow {
    height: 120px;
  }
}

@media screen and (min-width: 1121px) {
  .TableRow-background {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    img {
      height: 100px;
      width: 100%;
    }
  }
}